*.tar*
*.tgz*
.ntvs_analysis.dat*
npm-debug*
.testresults/
.coverage/
.nyc_output/
.github/
.vscode/
test/
.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.huskyrc.json
.nycrc.json
.renovate.json
renovate.json
sonar-project.properties
